body {
    background-color: #8ba1bb;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    
}

p.categorie{
    background-color: black;
    color: white;
    display: inline-block;
    padding: 8px 18px;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 16px;
}
div.contenu{
    background-color: white;
    margin: 0px 10% 60px 10%;
    padding: 30px;
    margin-bottom: 0;
    min-width: 350px;
    box-shadow : 0px 0px 10px 10px rgba(0, 0, 0, 0.1); 
}
h1{
    text-align: center;
    margin-bottom: 12px;
    margin-top: 10px;
}
p.description{
    text-align: center;
    max-width: 400px;
    font-size: 14px;
    
    display: inline-block;
}
/* mon commentaire css */
.centre{
    text-align: center;
    width: 100%;

}
div.categorie{
    margin-bottom: -18px;
    margin-top: 60px;
}
div.separateur{
    background-color: black;
    width:  100px  ; 
    height: 1px;
    margin-left: auto;
    margin-right: auto;
}
div.info{
    position: relative;
}

table.info{
    position: absolute;
    bottom : 15px;
    width: 100%;
    color: white; 
    background-color:#6c829dc0;
    height: 80px;
}
table.info td{
    text-align: center;
    font-size: 14px;
    vertical-align: top;
}
table.info th{
    font-size: 16px;
    vertical-align: bottom;
    padding-bottom: 8px ;
}

img.info{
    display: block;
    max-height: 400px;
    object-fit: cover;
    min-height: 200px;
    background-color: lightgrey;
}

div.colonne{
    width: 45%;
    margin-top: 20px;
}

div.colonne h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    border-bottom: 5px solid #6c829dc0 ;
    padding-bottom: 10px;
}

div.colonne1{
    
    display: inline-block;
    margin-right: 10%;
}

div.colonne2{
    background-color: lightgreen;
    float: right;
    
}

div.table p{
    text-align: center;
    font-size: 14px;
    border: 1px solid lightpink ;
    padding: 10px 0;
    margin-bottom: 5px;
    margin-top: 5px;
    
}
table.preparation p.numero{
    background-color: #6c829d;
    color: white;
    width: 25px;
    height: 25px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    padding-top: 4px;
    box-sizing: border-box;
    border-radius: 50%;
    margin: 0;
}
table.preparation td{
    vertical-align: top;
}

table.preparation td.preparation_etape{
    font-size: 14px;
    padding-left: 10px;
    padding-bottom: 10px;
}
table.preparation tr{
    height: 40px;
}

*{
    overflow:auto;
}
    
